body{
    background: #c5bddf;
}
div{
    text-align: center;	
    width: 1700px;    	
    margin: 0 auto;   	
    background: rgb(243, 241, 223); 	
    padding: 30px;		
}
h1{
    color: #7e9fc2;
}
h2{
    color: rgb(61, 103, 139);
}
img{
    border: 1px solid rgb(169, 183, 231); widht: 30%;
    margin-right: 50px;
}